/* Nav.css */
header {
  padding: 25px 25px 12px;
  box-sizing: border-box;
}
header > .comWebWidth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header h1 a {
  display: block;
}

header nav {
  position: relative;
}

header .menuList {
  display: flex;
}

header .menuList > li {
  margin: 0 15px;
}

header .menuList > li > a {
  line-height: 1.5;
  position: relative;
}

header .menuList > li > a:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2c000;
  opacity: 0.6;
  transition: all 0.15s linear;
  overflow: hidden;
}

header .menuList > li > a:hover:after {
  height: 8px;
}

header .menuList > li > a.active:after {
  height: 8px;
}

header.main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1000;
}

header .util {
  position: absolute;
  top: -2rem;
  right: 15px;
  font-size: 0.875rem;
}
