/* NewsItem.css */
.newsItemWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newsItemWrap > a {
  display: block;
  width: 31%;
  line-height: 1.2;
}

.newsItemWrap figure > div {
  margin-bottom: 20px;
}

.newsItemWrap > a img {
  max-width: 100%;
}

.newsItemWrap dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsItemWrap .text {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsItemWrap .date {
  text-align: right;
  margin-top: 8px;
  font-size: 14px;
  color: #4d4d4d;
}
